example-flow.json
[
    {
        "id": "flow1",
        "label": "Express Logger Example",
        "nodes": [
            {
                "id": "logger1",
                "type": "express-logger",
                "z": "flow1",
                "name": "Main HTTP Logger",
                "logLevel": "custom",
                "includeHeaders": true,
                "includeBody": true,
                "maxBodySize": 2048,
                "filterPaths": "/debug,/icons,/vendor",
                "outputToDebug": true,
                "outputToFlow": true,
                "x": 150,
                "y": 100,
                "wires": [["processor1"]]
            },
            {
                "id": "processor1",
                "type": "function",
                "z": "flow1",
                "name": "Log Processor",
                "func": "// Process incoming HTTP log data\nconst log = msg.payload;\n\n// Categorize requests\nlet category = 'other';\nlet color = 'grey';\n\nif (log.url.startsWith('/red/')) {\n    category = 'editor-api';\n    color = 'blue';\n} else if (log.url.startsWith('/ui/')) {\n    category = 'dashboard';\n    color = 'green';\n} else if (log.method === 'POST' || log.method === 'PUT') {\n    category = 'data-modify';\n    color = 'orange';\n} else if (log.statusCode >= 400) {\n    category = 'error';\n    color = 'red';\n}\n\n// Enhance the message\nmsg.payload = {\n    ...log,\n    category: category,\n    logLevel: log.statusCode >= 400 ? 'error' : log.responseTime > 1000 ? 'warn' : 'info'\n};\n\nmsg.topic = category;\n\n// Route based on category\nswitch(category) {\n    case 'editor-api':\n        return [msg, null, null, null];\n    case 'dashboard':\n        return [null, msg, null, null];\n    case 'error':\n        return [null, null, msg, null];\n    default:\n        return [null, null, null, msg];\n}",
                "outputs": 4,
                "noerr": 0,
                "initialize": "",
                "finalize": "",
                "libs": [],
                "x": 380,
                "y": 100,
                "wires": [
                    ["editor-debug"],
                    ["dashboard-debug"],
                    ["error-alert"],
                    ["general-debug"]
                ]
            },
            {
                "id": "editor-debug",
                "type": "debug",
                "z": "flow1",
                "name": "Editor API Logs",
                "active": true,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "payload",
                "targetType": "msg",
                "statusVal": "",
                "statusType": "auto",
                "x": 640,
                "y": 60,
                "wires": []
            },
            {
                "id": "dashboard-debug",
                "type": "debug",
                "z": "flow1",
                "name": "Dashboard Logs",
                "active": true,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "payload",
                "targetType": "msg",
                "statusVal": "",
                "statusType": "auto",
                "x": 640,
                "y": 100,
                "wires": []
            },
            {
                "id": "error-alert",
                "type": "function",
                "z": "flow1",
                "name": "Error Alert",
                "func": "// Generate alert for error responses\nconst log = msg.payload;\n\nif (log.statusCode >= 500) {\n    msg.payload = {\n        alert: 'Server Error',\n        message: `${log.method} ${log.url} returned ${log.statusCode}`,\n        timestamp: log.timestamp,\n        details: log\n    };\n    return msg;\n} else if (log.statusCode >= 400) {\n    msg.payload = {\n        alert: 'Client Error', \n        message: `${log.method} ${log.url} returned ${log.statusCode}`,\n        timestamp: log.timestamp,\n        details: log\n    };\n    return msg;\n}\n\nreturn null;",
                "outputs": 1,
                "noerr": 0,
                "initialize": "",
                "finalize": "",
                "libs": [],
                "x": 620,
                "y": 140,
                "wires": [["error-debug"]]
            },
            {
                "id": "error-debug",
                "type": "debug",
                "z": "flow1",
                "name": "Error Alerts",
                "active": true,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "payload",
                "targetType": "msg",
                "statusVal": "",
                "statusType": "auto",
                "x": 820,
                "y": 140,
                "wires": []
            },
            {
                "id": "general-debug",
                "type": "debug",
                "z": "flow1",
                "name": "General Logs",
                "active": false,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "payload",
                "targetType": "msg",
                "statusVal": "",
                "statusType": "auto",
                "x": 640,
                "y": 180,
                "wires": []
            },
            {
                "id": "stats-logger",
                "type": "express-logger",
                "z": "flow1",
                "name": "Statistics Logger",
                "logLevel": "tiny",
                "includeHeaders": false,
                "includeBody": false,
                "maxBodySize": 1024,
                "filterPaths": "",
                "outputToDebug": false,
                "outputToFlow": true,
                "x": 150,
                "y": 260,
                "wires": [["stats-counter"]]
            },
            {
                "id": "stats-counter",
                "type": "function",
                "z": "flow1",
                "name": "Request Counter",
                "func": "// Count requests by method and status\nconst stats = flow.get('httpStats') || {\n    total: 0,\n    methods: {},\n    status: {},\n    endpoints: {},\n    lastReset: new Date().toISOString()\n};\n\nconst log = msg.payload;\n\n// Increment counters\nstats.total++;\nstats.methods[log.method] = (stats.methods[log.method] || 0) + 1;\nstats.status[log.statusCode] = (stats.status[log.statusCode] || 0) + 1;\n\n// Track endpoint popularity (simplified URL)\nconst endpoint = log.url.split('?')[0]; // Remove query params\nstats.endpoints[endpoint] = (stats.endpoints[endpoint] || 0) + 1;\n\nflow.set('httpStats', stats);\n\n// Send periodic summaries (every 50 requests)\nif (stats.total % 50 === 0) {\n    msg.payload = {\n        summary: 'HTTP Statistics',\n        ...stats,\n        timestamp: new Date().toISOString()\n    };\n    return msg;\n}\n\nreturn null;",
                "outputs": 1,
                "noerr": 0,
                "initialize": "",
                "finalize": "",
                "libs": [],
                "x": 380,
                "y": 260,
                "wires": [["stats-debug"]]
            },
            {
                "id": "stats-debug",
                "type": "debug",
                "z": "flow1",
                "name": "Statistics",
                "active": true,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "payload",
                "targetType": "msg",
                "statusVal": "",
                "statusType": "auto",
                "x": 600,
                "y": 260,
                "wires": []
            },
            {
                "id": "reset-stats",
                "type": "inject",
                "z": "flow1",
                "name": "Reset Stats",
                "props": [
                    {
                        "p": "payload"
                    },
                    {
                        "p": "topic",
                        "vt": "str"
                    }
                ],
                "repeat": "",
                "crontab": "",
                "once": false,
                "onceDelay": 0.1,
                "topic": "reset",
                "payload": "",
                "payloadType": "date",
                "x": 150,
                "y": 320,
                "wires": [["stats-reset"]]
            },
            {
                "id": "stats-reset",
                "type": "function",
                "z": "flow1",
                "name": "Reset Counter",
                "func": "// Reset statistics\nflow.set('httpStats', {\n    total: 0,\n    methods: {},\n    status: {},\n    endpoints: {},\n    lastReset: new Date().toISOString()\n});\n\nmsg.payload = {\n    message: 'HTTP statistics reset',\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "initialize": "",
                "finalize": "",
                "libs": [],
                "x": 360,
                "y": 320,
                "wires": [["stats-debug"]]
            }
        ]
    }
]